.first{
background-color: rgb(83, 50, 226);
box-shadow: -1px 6px 10px rgba(0,0,0,0.5);
color: rgb(255, 255, 255);
height: 50px;
width: 30%;
font-size: 16px;
text-align: center;
}

.second{
    background-color: rgb(83, 50, 226);
    box-shadow: -1px 6px 10px rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
height: 50px;
width: 30%;
font-size: 16px;
text-align: center;
}

.third{
    background-color: rgb(83, 50, 226);
    box-shadow: -1px 6px 10px rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
height: 250px;
width: 50%;
font-size: 18px;
text-align: center;
}

.five{
    background-color: rgb(83, 50, 226);
    box-shadow: -1px 6px 10px rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
    height: 80px;
    width: 50%;
    font-size: 18px;
    text-align: center;
    }
    .six{

        background-color: rgb(83, 50, 226);
        box-shadow: -1px 6px 10px rgba(0,0,0,0.5);
        color: rgb(255, 255, 255);
        height: 200px;
        width: 50%;
        font-size: 18px;
        text-align: center;
    }
    